div {
    display: flex;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

th,
td {
    text-align: center;
    border: 1px solid #000000;
    width: 50%;
}

table {
    table-layout: fixed;
}

p,
ul,
hr {
    margin: 0;
}

video {
    display: block;
    margin: auto;
}

.bulletpoint {
    list-style-type: circle;
}

.right_alignment {
    margin-left: auto;
}

.middle_alignment {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.table_width {
    border: 2px solid #000000;
}

#table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
}

#content_style {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
}